.big-button {
  font-size: 5em;
  position: absolute;
}

.map-rightbottom-button {
  bottom: 100px;
  right: 100px;
}
.map-righttop-button {
  top: 100px;
  right: 100px;
}
.map-leftbottom-button {
  bottom: 100px;
  left: 100px;
}
.map-lefttop-button {
  top: 100px;
  left: 100px;
}

@media(max-width: 550px) {
  .big-button {
    font-size: 4em;
  }
  .map-rightbottom-button,
  .map-righttop-button {
    right: 50px;
  }
  .map-leftbottom-button,
  .map-lefttop-button {
    left: 50px;
  }
}
@media(max-height: 550px) {
  .big-button {
    font-size: 4em;
  }
  .map-rightbottom-button,
  .map-righttop-button {
    right: 50px;
  }
  .map-leftbottom-button,
  .map-lefttop-button {
    left: 50px;
  }
}
