<!-- WORKING -->
<div class="working-container main" ng-show="loading">
  <div class="working"></div>
</div>

<!-- FINDER -->
<input id="map-finder" class="form-control input-sm" type="text">

<!-- LOGOUT BUTTON -->
<!--<i class="fa fa-2x fa-sign-out as-button logout-btn" ng-click="logout()"></i>-->
<div class="dropdown logout-btn" ng-hide="overpage">
  <i id="dLabel" class="fa fa-2x fa-bars as-button" ng-click="openMenu($event)"></i>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
    <li><a href="#" ng-click="showSettings()">Settings</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<!--<i class="show-route fa fa-map fa-2x aslink" ng-show="context.route" ng-click="showroute()"></i>-->

<!-- MAP -->
<div id="map-canvas" ng-class="{'blur':overpage}"></div>

<!-- OVERPAGES -->
<div class="over-page" ng-class="{'active':overpage}">
  <div class="over-page-content">
    <i class="fa fa-3x fa-times as-button overlay-times" ng-click="closeOverlay()"></i>
    <div class="overpage-body" ng-if="overpage.template" ng-include="overpage.template"></div>
  </div>
  <div class="overlay" ng-click="closeOverlay()"></div>
</div>



