<!-- WORKING -->
<div class="working-container main" ng-show="loading">
  <div class="working"></div>
</div>

<!-- FINDER -->
<input id="map-finder" class="form-control input-sm" type="text">

<div class="map-header" ng-hide="overpage">
  <div class="map-title"> {{session.user.name}} - {{session.map ? session.map.title : 'Private Map'}}</div>
  <div class="map-header-tools">
    <i class="fa as-button" ng-repeat="tool in tools" ng-class="tool.icon"></i>
  </div>
</div>

<!-- MENU -->
<div class="dropdown logout-btn" ng-hide="overpage">
  <i id="dLabel" class="fa fa-2x fa-bars as-button" ng-click="openMenu($event)"></i>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
    <li ng-repeat="item in menu" ng-class="{'divider':item.divider, 'disabled':item.disabled}">
      <a ng-if="!item.divider" href="#" ng-click="item.action($event)">
        <i class="menu-item-icon fa" ng-class="item.icon" ng-show="item.icon"></i>
        {{item.caption}}
      </a>
    </li>
  </ul>
</div>

<!-- MAP -->
<div id="map-canvas" ng-class="{'blur':overpage || modalActive}"></div>

<!-- OVERPAGES -->
<div class="over-page" ng-class="{'active':overpage}">
  <div class="over-page-content">
    <i class="fa fa-3x fa-times as-button overlay-times" ng-click="closeOverlay()"></i>
    <div class="overpage-body" ng-if="overpage.template" ng-include="overpage.template"></div>
  </div>
  <div class="overlay" ng-click="closeOverlay()"></div>
</div>



