.chat {
  min-height: 300px; }

.chat .chat-messages {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.chat .chat-messages .chat-message {
  padding: 10px;
  background-color: rgba(255, 153, 0, 0.1);
  margin-left: 20%;
  margin-right: 20px;
  margin-bottom: 4px;
  position: relative; }

.chat .chat-messages .chat-message.mine {
  background-color: rgba(0, 149, 255, 0.1);
  margin-right: 20%;
  margin-left: 20px; }

.chat .chat-messages .chat-message .chat-message-header .chat-message-info,
.chat .chat-messages .chat-message .chat-message-header .chat-message-time {
  font-variant: small-caps;
  font-size: .8em;
  color: #999; }

.chat .chat-messages .chat-message .chat-message-header .chat-message-time {
  margin-right: 20px; }

.chat .chat-messages .chat-message .chat-message-text {
  word-wrap: break-word;
  white-space: pre-wrap; }

.chat .chat-messages .chat-message .left-triangle,
.chat .chat-messages .chat-message .right-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  bottom: 10px;
  position: absolute;
}

.chat .chat-messages .chat-message .left-triangle {
  left: -20px;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent rgba(0, 149, 255, 0.1) transparent;
}

.chat .chat-messages .chat-message .right-triangle {
  right: -20px;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent rgba(255, 153, 0, 0.1);
}

.chat .chat-message-editor {
  min-height: 100px;
}

.chat .chat-message-editor icon-chooser,
.chat .chat-message-editor .md-button {
  margin-bottom: 24px;
}
