.hero-unit i {
  vertical-align: middle;
}

.hero-unit .separator {
  margin: 0 30px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  /*color: #222;*/
}
.hero-unit > i {
  font-size: 10em;
}

.login-form {
  width: 500px;
  margin-left: calc(50% - 250px);
  padding: 0 40px 20px;
  left: 0;
  position: absolute;
  /*color: #222;*/
  -moz-transition: all 1.50s ease-in-out;
  -o-transition: all 1.50s ease-in-out;
  -webkit-transition: all 1.50s ease-in-out;
  transition: all 1.50s ease-in-out;
}
.login-form .form-group {
  margin-bottom: 10pX;
}
.login-form .form-control {
  /*border-color: #fff;*/
}
.login-form label {
  font-weight: normal;
}

.login-content > .working-container {
  top: auto;
  width: 500px;
  margin-left: calc(50% - 250px);
  background-color: transparent;
}
.login-content > .working-container > .working {
  top: 0;
  position: absolute;
}

.buttons-container {
  position: relative;
  padding-top: 20px;
}
.buttons-container div:hover {
  /*color: darkorange;*/
}

.buttons-container > div {
  display: inline-block;
  left: 0;
  bottom: 14px;
  padding: 8px 12px;
  border: #ccc 1px solid;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  min-width: 80px;
  outline: none;
  cursor: pointer;
}


.login-footer {
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-variant: small-caps;
  text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
  label {
    margin-bottom: 0;
  }
  .hero-unit > i {
    font-size: 5em;
  }
  .hero-unit .separator {
    margin: 0 10px;
  }
  .login-form {
    width: 100%;
    margin-left: 0;
    padding: 0 20px 10px;
  }
  .login-form .fa-4x {
    font-size: 3em;
  }
  .login-footer {
    font-size: 10px;
  }
  .form-group {
    margin-bottom: 2px;
  }
  .btn {
    padding: 6px 2px;
  }
  .buttons-container > div {
    bottom: 6px;
  }

}


/*.btn-facebook {*/
  /*color: #fff;*/
  /*background-color: #3B5998;*/
  /*border-color: #133783;*/
/*}*/

/*.btn-twitter {*/
  /*color: #fff;*/
  /*background-color: #2daddc;*/
  /*border-color: #0271bf;*/
/*}*/

/*.btn-google-plus {*/
  /*color: #fff;*/
  /*background-color: #dd4b39;*/
  /*border-color: #c53727;*/
/*}*/

/*.btn-github {*/
  /*color: #fff;*/
  /*background-color: #fafafa;*/
  /*border-color: #ccc;*/
/*}*/
